// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
$navbar-dark-color: white;
$body-color: #f8f9fa;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

@import "~bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

:root {
  @each $bp, $value in $grid-breakpoints {
    --bs-breakpoint-#{$bp}: #{$value};
  }

  --central-box-margin-top-ratio: 0.1;

  $all-colors: map-merge-multiple(
      $blues,
      $indigos,
      $purples,
      $pinks,
      $reds,
      $oranges,
      $yellows,
      $greens,
      $teals,
      $cyans
  );

  @each $name, $color in $all-colors {
    --bs-#{$name}: #{$color};
  }
}

html {
  background:  #041818;
}

body {
  background: radial-gradient(ellipse at top, #02152a, #062b31, #000) scroll;

  &.conic {
    background: conic-gradient(
        from -90deg at 50% 120%,
        #02152a,
        #062b31 45deg,
        #00151f 90deg,
        #062b31 135deg,
        #02152a 180deg
    ) fixed;
  }
}

.page {
  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    min-height: 100vh;
  }
}

.nav-link.underline.active {
  border-bottom: 2px solid $purple;
}

@each $breakpoint, $thresh in $grid-breakpoints {
  @media screen and (min-width: $thresh) {
    .central-box {
      margin-top: calc($thresh * var(--central-box-margin-top-ratio));
    }
  }
}

.central-box {
  max-width: map-get($grid-breakpoints, md)
}

ul.triangle {
  padding-left: 1rem;

  li::marker {
    content: "▹";
  }

  li {
    padding-left: 1rem;
  }
}

kbd, .text-pink, .h6 {
  color: $pink;
}

.h6 {
  font-weight: bold;
}

.text-teal {
  color: $teal;
}

.text-purple {
  color: $purple;
}

.text-indigo {
  color: var(--bs-indigo);
}

.popover {
  --bs-popover-bg: #{$purple-700};
}

@each $color, $value in ('indigo': $indigo, 'purple': $purple) {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}


html {
  --scrollbarBG: var(----bs-teal-900);
  --thumbBG: var(--bs-teal);
}

body::-webkit-scrollbar {
  width: 15px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.hover {
  transition: background-color 1s;
  &.purple {
    &:hover {
      background-color: rgba(41, 6, 97, 0.75);
    }
  }
}

.cursive {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}
