// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
$navbar-dark-color: white;
$body-color: #f8f9fa;

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

@import "~bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

// 8. Add additional custom code here

:root {
  @each $bp, $value in $grid-breakpoints {
    --bs-breakpoint-#{$bp}: #{$value};
  }

  --central-box-margin-top-ratio: 0.1;

  $all-colors: map-merge-multiple(
      $blues,
      $indigos,
      $purples,
      $pinks,
      $reds,
      $oranges,
      $yellows,
      $greens,
      $teals,
      $cyans
  );

  @each $name, $color in $all-colors {
    --bs-#{$name}: #{$color};
  }
}

body {
  background: radial-gradient(ellipse at top, #02152a, #062b31, #000) scroll;
  &.conic {
    background: conic-gradient(
        from -90deg at 50% 120%,
        #02152a,
        #062b31 45deg,
        #00151f 90deg,
        #062b31 135deg,
        #02152a 180deg
    ) fixed;
  }
}

.page {
  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    min-height: 100vh;
  }
}

.nav-link.underline.active {
  border-bottom: 2px solid var(--bs-purple);
}

@each $breakpoint, $thresh in $grid-breakpoints {
  @media screen and (min-width: $thresh) {
    .central-box {
      margin-top: calc($thresh * var(--central-box-margin-top-ratio));
    }
  }
}

.central-box {
  max-width: map-get($grid-breakpoints, md)
}

ul.triangle {
  padding-left: 1rem;
  li::marker {
    content: "▹";
  }

  li {
    padding-left: 1rem;
  }
}

kbd, .text-pink {
  color: var(--bs-pink);
}

.text-teal {
  color: var(--bs-teal);
}

.text-purple {
  color: var(--bs-purple);
}

.text-indigo {
  color: var(--bs-indigo);
}
